html {
  height: 100%;
  width: 100%;
}

header{
  background-color: #63A375;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  padding-left: 20px;
}
body{
  background-color: #FAFFD8;
}

.logo{
  height: 60px;
  margin: 16px;
}

.name{
  display: flex;
  align-items: center;
  color: #FAFFD8;
  font-family: 'Brandey SemBd', sans-serif;
}

.menu{
  position: absolute;
  left: 70%;
  top: 38%;
  border: 10px;
  color: #846075;
}

.menu-buttons{
  background-color: #63A375;
  height: 30%;
  border: 0px;
  color: black;
  margin-left: 20px;
  font-family: 'Brandey Med', sans-serif;
}

.menu-buttons:hover{
  color: white;
}

html {
  height: 100%;
  width: 100%;
}

.container {
  width: 97%;
  margin: 20px;
  margin-left: -10px;
  display: flex;
  justify-content: center space-between space-around;
  /* justify-content: space-between;
  justify-content: space-around; */
  padding: 75px;
}

button.accordion {
  /* find a box */
  width: 250px;
  height: 250px;
  background-color: darkslategray;
  outline: none;
  text-align: center;
  padding: 15px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s linear;
  margin: 20px;
  border-radius: 10%;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  border: none;
  justify-content: center;
}

button.accordion:after {
  /* symbol pre-click */
  display: flex;
  content: '\f055';
  font-family: "fontawesome";
  font-size: 20px;
  float: right;
  position: absolute;
  top: 78%;
  left: 44%;
}

button.accordion.is-open:after {
  /* symbol post-click */
  content: '\f056';
  margin-bottom: 0px;
}

button.accordion:hover, button.accordion.is-open {
  /* background-color: #63A375; */
  background-color: #FC9E4F;
}

.accordion-content {
  background-color: darkslategray;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  color: white;
  margin-left: 0px;
  margin-right: 60px;
  margin-top: 0px;
  border-radius: .6cm;
}

.iframe {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 535px;
    height: 380px;
    z-index: 999;
}

.page-name{
  font-size: 100px;
  text-align: center;
  font-family: 'Brandey SemBd', sans-serif;
}

.resources-link{
  color: white;
}
